<h2>Edit event occurrence</h2>

<%= render "form.html", changeset: @changeset,
                        action: event_occurrence_path(@conn, :update, @event_occurrence) %>

<%= link "Back", to: event_occurrence_path(@conn, :index) %>
